language: node_js
node_js:
  - "8"
  - "9"
  - "stable"
sudo: false
script: "gulp coverage"
after_success:
  - npm install -g codeclimate-test-reporter
  - codeclimate-test-reporter < coverage/lcov.info
